<div class="container w-100">
    <hr>
    <div class="container w-100 mt-5">

        <div class="col-md-12">
          <h1 class="text-monospace text-center">Sejam bem vindos ao blog do Iron Man!</h1>

        </div>
    </div>
    
    <div class="row mt-4 mt-4">
        <div class="col-md-12">
           <p class="text-justify text-monospace"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, deleniti corrupti. Numquam rerum odit eos incidunt nam earum eum quasi tempora, mollitia, dignissimos quod iusto quae natus, enim id necessitatibus?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptas sequi tenetur, natus ea laudantium! Tenetur ipsam totam labore quidem. Quia tenetur reiciendis, recusandae nam quasi ipsa eos rerum tempora?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt dicta ipsa dolorum doloremque molestias impedit quaerat animi. Perferendis repellat reprehenderit aut? Ea ipsam corporis quod quibusdam quisquam voluptatum magni nihil.</p>
        </div>
    </div>
</div>
   <div class="p-3 mb-2 bg-warning text-white"></div>
    <div class="parallax p-3 mb-2 bg-warning text-white"></div>
    <div class="p-3 mb-2 bg-warning text-white"></div>
    <div class="row mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button type="button" class="btn btn-warning text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
        </div>    
    </div>
